/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: url("image/banner.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;

}

.formbox {
    width: 380px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border: 10px #ff105f;
}

.head {
    text-emphasis: center;
    text-shadow: #ff61241f;
    color: black;
    text-align: center;
    background-color: gold;
}

.buttonbox {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.socialicons {
    margin: 35px;
    text-align: center;
}

.socialicons img {
    width: 35px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.field {
    width: 250px;
    padding: 10px 0;
    margin: 10px 0;
    border-left: 10px;
    border-top: 0;
    border-right: 10px springgreen;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submitbtn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to left, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.checkb {
    position: static;
    margin: 25px 10px 20px;

}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
} */

/* index page Start */

.fname{
  color: #4a1ea8;
}

@font-face {
  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alfaslabone/v17/6NUQ8FmMKwSEKjnm5-4v-4Jh2d1he-Wv.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */

@font-face {
  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alfaslabone/v17/6NUQ8FmMKwSEKjnm5-4v-4Jh2dxhe-Wv.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */

@font-face {
  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alfaslabone/v17/6NUQ8FmMKwSEKjnm5-4v-4Jh2dJhew.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: nexa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fefefe;
  padding: 35px 100px 0;
  text-size-adjust: inherit;
  font-size: x-large;

}

header a {
  text-transform: capitalize;
  font-weight: 900;
  
}

header h2 {
  text-transform: uppercase;
  
}

header .nav {
  display: flex;
}

header .nav li {
  margin: 0 15px;
}

header .nav li:first-child {
  margin-left: 0;
}

header .nav li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header .nav li {
    margin: 0 7px;
    position: sticky;
  }
}

.box {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #dadada;
  text-align: center;
}

.box video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 340%;
  object-fit: cover;
  z-index: -1;
}

.box h1 {
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(203, 40, 40, 0.5);
}

.box h3 {
  margin-bottom: 40px;
  font-size: 50px;
}

.box a.boxBtn:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 800px) {
  .box {
    min-height: 900px;
  }
  .box h1 {
    font-size: 60px;
  }
  .box h3 {
    font-size: 20px;
  }
  .box a.boxBtn {
    padding: 15px 40px;
  }
}

.dis-container {
  height: 1000px;
  width: 1263px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.items1 {
  height: 300px;
  width: 700px;
  text-align: center;
  font-size: xx-large;
  color: #fefefe;
}

.item2 {
  height: 300px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.item3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 300px;
  width: 600px;
}

.item4 {
  height: 300px;
  width: 500px;
  text-align: center;
  font-size: xx-large;
  color: #fefefe;
}

.item5 {
  height: 300px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  color: #fefefe;
}
.clients {
  text-align: center;
  color: #fff;
  font-size: x-large;
  padding-bottom: 6rem;
}

.clintimg {
  height: 50%;
  padding-top: 30px;
}

.main-con {
  color: #fff;
  font-size: xx-large;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 10rem;
  
}

.animate-charcter
{
    text-align: center;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 30px;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


/* index page end */

/* Contact us Start */

body {
  background: rgb(209, 224, 240);
}

.carousel {
  height: 100vh;
  perspective: 350px;
  text-align: center;
  font-size: xx-large;
  font-style: initial;
}

.carousel .carousel-item {
  width: 500px;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  width: 450px;
  height: 400px;
  color: #262626;
  border-radius: 100px;
  box-shadow: 0 8px 20px 0px rgba(225, 110, 110, 0.2);
}

.img-area img {
  border-radius: 70%;
  border: 7px solid #fff;
  margin-top: -100px;
}

.box1 {
  background: #005bae;
  height: 100px;
  border-radius: 25px 25px 0 0;
}

.img-area {
  text-align: center;
}

.img-area img {
  width: 50%;
}

.main-text {
  padding: 10px 0;
  text-align: center;
}

.main-text h2 {
  font-weight: 500;
  font-size: 25px;
  margin: 0 0 20px;
  font-family: "Alfa Slab One", cursive;
}

.main-text p {
  font-size: 16px;
  padding: 0 35px;
}

.contactUs{
  padding-top: 1.5rem;
  background-color: whitesmoke;
  color: #000;

}
 .contactUs h1{
  color: rgb(156, 18, 18);
  text-transform: uppercase;
  font-size: 1.52rem;
  font-weight: 800;
  margin: 0px;
}
 .contactUs h2{
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  color:#000;
}
 .contactUs form{
  
  padding: 10px 0px 1.7rem;
  position: relative;
}
 .contactUs form input{
  padding: 6px 15px;
  margin: 0px 5px 10px 0px;
  border-radius: 6px;
  border-style: none;
  color: rgb(2, 2, 0);
  
}
.contactUs form input[type=submit]{
  padding: 6px 20px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  color: wheat;
}
 .contactUs form input:focus{
  box-shadow: inset 0px 0px 10px black;
}
 .contactUs form input[type=submit]:hover{
  box-shadow: inset 0px 0px 10px rgb(218, 150, 15);
}
 .contactUs form input+p{
  width: 100%;
  margin: 0px auto;
  color:#ff0000;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.1em;
  padding: 0px 6px;
  position: absolute;
  bottom: 2px;
}
.invalid{
  box-shadow: inset 0px 0px 10px #0b0808;
}

/* Contact page end */

/* About Page start*/
/* 
.heading{
  text-align: center;
  color: #000000;
} */

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lead text-mutedd{
  color: #005bae;
  font-style: bold;
}


/* About Page End*/